.tree-node {
}

/*.angular-ui-tree-nodes .angular-ui-tree-nodes {*/
    /*padding-left: 100px;*/
/*}*/

.pageContainer{

}
.page {
    background-color: #ffe87c;
}
.angular-ui-tree-nodes .featureContainer{
}
.feature {
    background-color: #f8efc0;
}
.angular-ui-tree-nodes .testContainer{

}
.panel {
    margin-bottom: 0px;
}
.panel-body {
    padding: 5px;
}
.test {
    background-color: #FFFFFF;
}

[ui-tree-handle] {
    color: gray;
    font-weight: normal;
}

.highlight {
    background: #ffdc0f;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}