extends ../includes/layout

block main-content
    .navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/") Multivision
                h6 -Extreme Tech Training
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/tree") Tree
                div(ng-include="'/partials/account/navbar-login'")




    section.modal-content
    div(ng-view)

    footer.container.text-center
        p &copy; 2017 MultiVision Corp