doctype
html
    head
        base(href="/")
        title MultiVision
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/vendor/angular-ui-tree/dist/angular-ui-tree.css")
        link(rel="stylesheet", href="/vendor/angular-xeditable/dist/css/xeditable.css")
        link(rel="stylesheet", href="/vendor/angular-material/angular-material.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/tree.css")
    body(ng-app='app')
        include currentUser
        block main-content
        include  scripts