script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-ui-tree/dist/angular-ui-tree.js")
script(type="text/javascript", src="/angular-ui-tree-filter/dist/angular-ui-tree-filter.js")
script(type="text/javascript", src="/vendor/angular-xeditable/dist/js/xeditable.js")
script(type="text/javascript", src="/vendor/angular-material/angular-material.js")
script(type="text/javascript", src="/vendor/angular-animate/angular-animate.js")
script(type="text/javascript", src="/vendor/angular-aria/angular-aria.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mvMainCtrl.js")
script(type="text/javascript", src="/app/account/mvNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/mvIdentity.js")
script(type="text/javascript", src="/app/account/mvAuth.js")
script(type="text/javascript", src="/app/account/mvUser.js")

script(type="text/javascript", src="/app/account/mvSignupCtrl.js")
script(type="text/javascript", src="/app/account/mvProfileCtrl.js")
script(type="text/javascript", src="/app/admin/mvUserListCtrl.js")
script(type="text/javascript", src="/app/common/mvNotifier.js")
script(type="text/javascript", src="/app/tree/mvTreeCtrl.js")
script(type="text/javascript", src="/app/tree/mvPage.js")
script(type="text/javascript", src="/app/tree/mvTree.js")


