<div class="panel panel-primary"><div class="panel-heading text-center">Featured Courses</div><div class="panel-body"><div class="row" ng-repeat="course in courses | filter:{featured:true}"><div class="col-md-12">{{course.name}}</div></div></div></div>