<div class="container"><div class="jumbotron"><h1>MultiVision</h1><p>Welcom to Multivison</p></div><div class="row"><div class="col-md-6"><div ng-include="'/partials/main/featured-courses'"></div></div><div class="col-md-6"><div ng-include="'/partials/main/new-courses'"></div></div></div></div>