.container
    .jumbotron
        h1 MultiVision
        p Welcom to Multivison

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")
